body{
    background-image: url(/images/photo-1505740420928-5e560c06d30e.jpeg);
    /* background-image: url(/images/unnamed.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    text-align: center;
}


img{
    width:100%;
    min-height: 250px;
}
main{
    padding: 40px;
}
.col-mid-3{
    margin-bottom: 40px;
    margin-top: 30px;

}
.album-poster{
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px black;
    transition: all ease 0.4s;
}

.album-poster:hover{
    box-shadow:none;
    transform: scale(0.98) translateY(5px);
}
 li, h2, p {
    
    font-weight: bold;
    text-align: center;
    color: brown;
}
h4{
    font-weight: bolder;
    font-style: italic;
    color: blueviolet;
    font-size: 30px;

}
h2{
    font-style: italic;
}
/*  
h3{
    color: goldenrod;
    font-weight: bolder;
    font-size: 50px;
} */